<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Medvit - Medcial software for doctors, nurses, students and patients. | Home</title>
    <meta name="description" content="">
    <meta name="author" content="Antoan Dimitrov and Lyubomir Ruzhinski">
    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#094F71" />
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#094F71" />
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="#094F71">
    <!-- FONTS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="css/skeleton.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/media-queries.css">
    <link rel="stylesheet" href="js/vegas/vegas.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <!-- Favicon
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="/images/favicon.png">
</head>

<body>
    <!-- Primary Page Layout
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <div class="nav clearfix">
        <a href="#" id="pull"><i class="fa fa-bars" aria-hidden="true"></i> <img src='/images/logo.png' id="logo-img" /></a>
        <ul class="clearfix">
            <li><a href="/login">ВХОД</a></li>
            <li>
                <a href="/"><img src='/images/logo.png' id="logo-img" /></a>
            </li>
            <li><a href="#main-info">ИНФОРМАЦИЯ</a></li>
        </ul>
    </div>

    <div class="landing">
        <div class="welcome-message">
            <h4></h4>
        </div>
    </div>

    <div class="main">
        <div class="row" id="main-info">
            <div class="one-third column post" id="about-app">
                <h1>За приложението</h1>
                <p class="post-content">
                    <i class="fa fa-info-circle" aria-hidden="true"></i>
                    <span>Иновативен софтуер, управляващ и улесняващ болничните процеси. Приложението следи жизнените показатели на пациентите в реално време чрез хардуер, улеснява вземането на моментални решения за лечение и намалява шанса от лекарски грешки. Софтуерът е достъпен за всяко медицинско лице и пациент.
                     </span>
                </p>
            </div>

            <div class="two-thirds column post">
                <div id="laptop">
                </div>
            </div>
        </div>
        <div class="push">
        </div>
    </div>

    <div class="footer">
        <div class='one-third column info-option'>
            <i class="fa fa-map-marker" aria-hidden="true"></i>
            <div class='twelve columns'>
                Адрес
                <p>
                    гр. Благоевград ул. Марица 4
                </p>
            </div>
        </div>
        <div class='one-third column info-option'>
            <i class="fa fa-envelope-o" aria-hidden="true"></i>
            <div class='twelve columns'>
                Ел. поща
                <p>
                    support@medvit.me
                    <br /> administrator@medvit.me
                </p>
            </div>
        </div>
        <div class='one-third column info-option'>
            <i class="fa fa-phone" aria-hidden="true"></i>
            <div class='twelve columns'>
                Тел. за връзка
                <p>
                    +359897774073
                    <br /> +359883646303
                </p>
            </div>
        </div>
        <div class='twelve columns'>
            <ul class='social'>
                <li>
                    <a href='/' id="facebook">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href='/' id="twitter">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="/" id="linkedin">
                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href='' id="instagram">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href='' id="google-plus">
                        <i class="fa fa-google-plus" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>


    <!-- JS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <script src="/js/jquery/jquery-1.12.2.min.js"></script>
    <script src="/js/vegas/vegas.min.js"></script>
    <script src="/js/index-settings.js"></script>
    <script src="/js/main.js"></script>
    
    <!-- End Document
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>

</html>
